@import url('https://fonts.googleapis.com/css?family=Cairo|Oswald|Titillium+Web|Ubuntu');
.view-worker-div{
    position:relative;
    width:36%;
    padding:40px;
    margin-left:2%;
    margin-right:2%;
    margin-top:30px;
    margin-bottom:20px;
    font-size:17px;
    font-family: Cairo !important;
    background-color: rgba(226, 228, 229, 0.945);
    border-radius: 30px;
    float:left;
}
.edit-worker-button{
    position:absolute;
    right:40px;
    bottom:20px;
    width:120px;
    font-size:14px;
    height:40px;
    background-color:rgba(42, 42, 44, 0.925);
    color:rgba(226, 228, 229, 0.945);
    border:0px;
    transition:all .2s ease 0s;
}
.edit-worker-button:hover{
    cursor:pointer;
    background-color:rgba(42, 42, 44, 0.842);
}
.worker-img{
    width:160px;
    height:210px;
    position:absolute;
    right:40px;
    top:40px;

}