@import url('https://fonts.googleapis.com/css?family=Cairo|Oswald|Titillium+Web|Ubuntu');
#Add-new-project{
width:70%;
margin-left:5%;
padding:30px;
margin-top:40px;
background-color: rgba(236, 235, 235, 0.966);
}
#Add-new-project input[type="submit"]{
    margin-right:360px !important;
    margin-top:270px !important;
    width:100px!important;
    height:30px !important;
}
#thumb{
    position:absolute;
    top:250px;
    left:120px;
}
#images{
    position:absolute;
    top:290px;
    left:120px;
}
.project{
    position:relative;
    padding:25px;
    width:70%;
    margin-left:5%;
    background-color: rgba(248, 248, 248, 0.966);
margin-top:25px;
margin-bottom:10px;
}
